
header{
	font-family:  Helvetica, sans-serif;
}

main{
	font-family: Arial, sans-serif;
}

.ms-bg-darkgrey{
	background-color: #363636;
}

.ms-bg-lightgrey{
	background-color: #D9DADC;
}

.ms-bg-red{
	background-color: #CD3D0F;
}

.ms-bg-nightblue{
	background-color: #161C3B;
}

.ms-bg-blue{
	background-color: #00439C;
}

.ms-text-blue{
	color:#2E8BD6;
}

.ms-rounded-4{
	border-radius:1rem;
}

.ms-fs-large{
	font-size:3rem;
}

.ms-fs-med{
	font-size:2.5rem;
}

.ms-banner-content{
	height:95%;
}

header section#header-top img{
	width:80px;
}

header section#header-nav .navbar img.ms-lens{
	width:50%;
}

section#returnal>.container-fluid:first-of-type{
	height:70vh;
	background: url(../img/jumbo-bg.png) top / cover;
}

.ms-banner-logo,
section#console5 figure.ms-card img{
	width:60%;
}

section#it-takes-two>.container-fluid{
	height:70vh;
	background: url(../img/it-takes-two-hero-banner-desktop.jpg) top / cover;
}


section#play-plus>.container-fluid{
	background-color:#BEBCBB;
}

section#main-footer img.footer-pslogo{
	width:100px;
}

section#main-footer img.language{
	width:20px;
}

section#main-footer img.footer-sielogo{
	width:150px;
}

section#main-footer p.ms-country::before{
	content:url(../img/language-globe.svg);
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}