main{
	overflow: hidden;
	font-family: Arial, sans-serif;
}

a.btn:hover{
	opacity: .7;
}

.ms-bg-darkgrey{
	background-color: #363636;
}

.ms-bg-lightgrey{
	background-color: #D9DADC;
}

.ms-bg-red{
	background-color: #CD3D0F;
}

.ms-bg-nightblue{
	background-color: #161C3B;
}

.ms-bg-blue{
	background-color: #00439C;
}

.ms-text-blue{
	color:#2E8BD6;
}

.ms-border-blue{
	border-color:#2F8CD7 !important;
}

.ms-rounded-4{
	border-radius:2rem;
}

.ms-fs-large{
	font-size:3rem;
}

.ms-banner-logo{
	width:60%;
}

.ms-banner-content{
	height:95%;
}

.ms-chevron{
	width:10px;
}

section#returnal figure.ms-game-card img:hover{
	padding:.25rem;
	background-color: #fff;
	border: 3px solid #2F8CD7;
	border-radius: .25rem;
	max-width: 100%;
	border-radius:2rem;
	height: auto;
}

header section#header-top img{
	width:80px;
}

header section#header-nav{
	font-family:  Helvetica, sans-serif;
}

header section#header-nav ul.navbar-nav li.nav-item:hover a.nav-link{
	color:#2E8BD6 !important;
}

header section#header-nav ul.navbar-nav li a.btn:hover{
	background-color: #585858!important;
}

header section#header-nav .navbar img.ms-lens{
	width:50%;
}

section#returnal>.container-fluid:first-of-type{
	height:70vh;
	background: url(../img/jumbo-bg.png) top / cover;
}

section#it-takes-two>.container-fluid{
	background: url(../img/it-takes-two-hero-banner-desktop.jpg) top / cover;
}


section#play-plus>.container-fluid{
	background-color:#BEBCBB;
}

section#main-footer img.footer-pslogo{
	width:100px;
}

section#main-footer img.language{
	width:20px;
}

section#main-footer img.footer-sielogo{
	width:150px;
}

section#main-footer p.ms-country::before{
	content:url(../img/language-globe.svg);
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}